<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>MINI-PROJET IHM</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="css/clean-blog.min.css" rel="stylesheet">
 <link  href="css/niceCountryInput.css" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
        crossorigin="anonymous">
  </script>
</head>

<body>

  <!-- Navigation -->
  <nav th:replace="layout::site-nav" class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    
  </nav>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/contact-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Contactez-nous !</h1>
            <span class="subheading">Avez-vous des questions ? nous avons les réponses !</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p> Vous souhaitez nous contacter? Remplissez le formulaire ci-dessous pour nous envoyer un message et nous vous répondrons dans les plus brefs délais!</p>
 
        <form name="sentMessage" id="contactForm" novalidate autocomplete="off">
        <div class="control-group"><span class="text text-primary"> Les  champs précédés par * sont obligatoires</span></div>
        
         <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>* Nom  </label>
              <input autofocus="autofocus" type="text" class="form-control myInputs" name="lastname" placeholder="* Nom" id="lastname" required data-validation-required-message="S'il vous plait entrer votre nom">
              <p class="help-block text-danger"></p>
            </div>
         </div>
          
         <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>* Prenom </label>
              <input type="text" class="form-control myInputs" name="firstname" placeholder="* Prenom" id="firstname" required data-validation-required-message="S'il vous plait entrer votre prenom">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>* Email</label>
              <input type="email" class="form-control myInputs" placeholder="* Adresse email de la forme (pseudo@serveur.domaine) " id="email" required data-validation-required-message="S'il vous plait entrer votre adresse email">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          
          <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Numero de telephone</label>
              <input type="tel" class="form-control" placeholder="Numero de telephone"   onfocus="this.value = this.value;"  id="phone"  >
              <p class="help-block text-danger"></p>
            </div>
          </div>

        <!-- <div class="control-group"> -->
        <div class="form-group">
         <label for="countryIsoSelect">Votre pays</label>
 		  <div id="countryIsoSelect" class="example"
    		 data-selectedcountry=""
     		 data-showspecial="false"
     		 data-showflags="true"
     		 data-i18nall="All selected"
             data-i18nnofilter="No selection"
             data-i18nfilter="Filter"
             data-onchangecallback="onChangeCallback">
          </div>
          </div>
       <!-- </div> -->
               
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>* Message ...</label>
              <textarea rows="3" class="form-control myInputs" placeholder="* Message ..." id="message"  data-validation-required-message="S'il vous plait entrer votre message a envoyer"></textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          
          <br>
          <div id="success"></div>
          <button type="submit" class="btn btn-primary" id="sendMessageButton" disabled="disabled">Envoyer</button>
          <div style="visibility:hidden;" class="alert alert-success">Votre message a été bien envoyé.</div>
        </form>
      </div>
    </div>
  </div>

  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; Your Website 2020</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>

 
  <!-- Custom scripts for this template -->
  <script src="js/clean-blog.min.js"></script>
  <script type="text/javascript">
  //
  var niceCountry="";
  function onChangeCallback(ctr){
     $("#phone").focus();
     niceCountry = ctr;
     $.ajax({url: "https://restcountries.eu/rest/v2/alpha/"+ctr, success: function(result){
       $("#phone").val("+"+result.callingCodes[0]+" ");
     }});
  }
  
  $(function(){
    niceCountry =  new NiceCountryInput($(".example")).init();
  });
  </script>

  <script src="js/niceCountryInput.js"></script>

  <script src="js/contact_me.js"></script>
  <script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'fr'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

	<script type="text/javascript">
	   $(".myInputs").keyup(function(e){
	      var inp1 = $("#lastname").val()
	      var inp2 = $("#firstname").val()
	      var inp3 = $("#email").val()
	      var inp4 = $("#message").val()
	      if(inp1.length > 0 &&  inp2.length >0 && inp3.length >0 && inp4.length >0){
	          $("#sendMessageButton").prop("disabled", false);
	      }else{
	      	 $("#sendMessageButton").prop("disabled", true);
	      
	      }

	   });
	</script>
</body>

</html>
