<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head  th:replace="layout::site-head">
<title>Accueil</title>
  <!-- <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Mini Pojet IHM ISI</title>


  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

 
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>


  <link href="css/clean-blog.min.css" rel="stylesheet"> 
-->
</head>

<body>

  <!-- Navigation -->
  <nav th:replace="layout::site-nav" class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <!-- <div class="container">
      <a class="navbar-brand" href="index.html">MINI-PROJET-IHM-ISI</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="post.html">Sample Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
        </ul>
      </div>
    </div> -->
  </nav>

  <!-- Page Header -->
  <header th:replace="layout::site-header" th:remove="tag">
    <!--  <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Bienvenue Sur Mon Blog</h1>
            <span class="subheading">Tous ce que vous besoin est la!</span>
          </div>
        </div>
      </div>
    </div>-->
  </header>

  
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <!--  <div class="post-preview" th:each="p : ${latest5Posts}">
          <a href="post.html" th:href="@{'/posts/view/'+${p.id}}">
            <h2 class="post-title" th:text="${p.title}">
              Man must explore, and this is exploration at its greatest
            </h2>
            <img style="height:150px;width:250px;" th:src="${p.imageURL}" alt="image de l'article"/>
            <p  style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap;" th:utext="${p.body}">
              Problems look mighty small from 150 miles up
            </p>
            <span th:if="${p.author}" th:remove="tag">
          </a>
          <span th:if="${p.author}" th:remove="tag" class="post-meta"><i><b>Ecrit par</b></i>
            <span th:text="${p.author.fullName != null ? p.author.fullName : p.author.userName}">Svetlin Nakov</span>  
             <br>
             <i><b>Posté le</b></i>
	         <span th:text="${#dates.format(p.date, 'dd-MMM-yyyy')}">22-May-2016</span>
          </span>
          
        </div>-->
        
       <div class="card" th:each="p : ${latest5Posts}" style="margin-bottom:20px;">
        <img class="card-img" th:src="${p.imageURL}" alt="Bologna"/>
        <div class="card-img-overlay">
         <!-- <a href="#" class="btn btn-light btn-sm" th:href="@{'/posts/view/'+${p.id}}">Lire suite ...</a>-->
        </div>
        <div class="card-body">
          <h4 class="card-title" th:text="${p.title}">Pasta with Prosciutto</h4>
          <small class="text-muted cat">
            <i class="far fa-clock text-info"></i> 30 minutes
            <i class="fas fa-users text-info"></i> 4 portions
          </small>
          <p class="card-text" th:utext="${p.body}" style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap;">I love quick, simple pasta dishes, and this is one of my favorite.</p>
          <span th:if="${p.author}" th:remove="tag" class="post-meta"><i><b>Ecrit par</b></i>
            <span th:text="${p.author.fullName != null ? p.author.fullName : p.author.userName}">Svetlin Nakov</span>  
             <br>
             <i><b>Posté le</b></i>
	         <span th:text="${#dates.format(p.date, 'dd-MMM-yyyy')}">22-May-2016</span>
          </span>
          <br><br>
          <a href="#" class="btn btn-success btn-sm card-link"  th:href="@{'/posts/view/'+${p.id}}">Lire suite ...</a>
        </div>
        <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
          <div class="views"><span th:text="${#dates.format(p.date, 'dd-MMM-yyyy')}">22-May-2016</span>
          </div>
          <div class="stats">
           	<i class="far fa-eye"></i> 1347
            <i class="far fa-comment"></i> 12
            <i class="fas fa-quote-right"></i> 5
          </div>
           
        </div>
      </div>
        
        <!-- 
		<article th:each="p : ${latest3Posts}">
			<h2 class="title" th:text="${p.title}">Titre Post</h2>
			<img style="height:150px;width:150px;" th:src="${p.imageURL}" alt="image de l'article"/>
	      <div class="date">
	        <i>Posté le</i>
	        <span th:text="${#dates.format(p.date, 'dd-MMM-yyyy')}">22-May-2016</span>
	        <span th:if="${p.author}" th:remove="tag">
	          <i>Ecrit par</i>
	          <span th:text="${p.author.fullName != null ? p.author.fullName : p.author.userName}">Svetlin Nakov</span>
	        </span>
	      </div>
	      <p  th:utext="${p.body}">COntenu du Poste</p>
		</article>        
         -->

        
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" th:href="@{/posts}">Voir plus ... &rarr;</a>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <!-- Footer -->
  <footer th:replace="layout::site-footer">
   <!--  <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; Your Website 2020</p>
        </div>
      </div>
    </div> -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

 
  <script src="js/clean-blog.min.js"></script>

</body>

</html>
